<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <h1 class="Title"><%= title %></h1>
    <h3></h3>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="ProjectsContainer">
      <% prjs = JSON.parse(prjs) %> <% prjs.forEach(element => { %>
        <a href=<%=`/${element.id}`%>>
        <div class="ProjectContent" style="background-image: url(<%= ((split) => {return `${split[0]}images/resize/600x600/${split[1]}`})(element.image_url.split("images/")) %>)" >
        
        <div class="projectWords projectTitle">
          <%= element.name %>
        </div>
         <br/> 
        <div class="tooltip projectWords">
          <%= element.owner.screen_name %>
          <span class="tooltiptext">
            <%= element.owner.username %> <br/>
            <%= element.owner.projects %> <br/>
            <%= element.owner.followers %> <br/>
            <%= element.owner.following %> <br/>
            <%= new Date(element.owner.created) %>
          </span>
      </div>
         <br/> <br/> <div class="snippet projectWords"> <%- element.summary %> </div>  <br/> <br/>  
        
      </div>
    </a>
      <% }) %>
    </div>
    <div class="PageBar" id="pageBar">
      <% if (currPage > 1) { %>
        <a class="Button" id="prevB" href=<%=`?page=${currPage - 1}`%>> Previous Page </a>
      <% } %> 
      <a class="Button" id="nextB" href=<%=`?page=${currPage + 1}`%>> Next Page </a>
    </div>
    <script>
      var i = 0
      $('#nextB').click( () => {
    
      })

      $('#pageBar').click(() => {

      })
      $('#prevB').click( () => {
       
      })

    </script>
  </body>
</html>
