<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <% prj = JSON.parse(prj) %> 
    <% tags = JSON.parse(tags) %> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="">
  </head>
  <body>
    
  <center>
    <div class="CoverPhoto" style="background-image: url(<%= ((split) => {return `${split[0]}images/resize/720x720/${split[1]}`})(prj.image_url ? prj.image_url.split("images/") : "https://cdn.hackaday.io/images/1085561390426767411.png".split("images/")) %>)" >
      <h1 class="projectWords detailsTitle" > <%- prj.name %>  </h1>
    </div>
    <div class="tooltip projectWords">
          <%= prj.owner.screen_name %>
          <span class="tooltiptext">
            <div>
              <div>
                <%= prj.owner.username %>
              </div>
              <div class="aboutTool">
                <%= `${prj.owner.about_me}` %>
              </div>
              <br />
              <div>
                <%= `${prj.owner.projects} Project${prj.owner.projects > 1 ? "s" : ""}` %>
              </div>

              <div class="toolContainer">
                <%= prj.owner.followers %> Followers &nbsp;| &nbsp;
                <%= prj.owner.following %> Following
              </div>
              <div class="toolContainer">

              </div>
            </div>
          </span>
        </div>
    <div class="detailsContainer textContainer">
      <%- prj.description %> 
    </div>
    </br> </br>
    <h2 class="projectWords">
      Similar Projects
    </h2>

    <div class="recContainer">
    <% var seenPrjs = new Map()%>
    <% prj.tags.forEach( tag => { %>
      <% var element = tags[tag][0]%>
      <% if(element !== undefined && !seenPrjs.has(element.id) && element.id !== prj.id) { %>
        <% seenPrjs.set(element.id, element) %>
        <a href=<%=`/projects/${element.id}`%>>
          <div class="RecContent" style="background-image: url(<%= ((split) => {return `${split[0]}images/resize/200x200/${split[1]}`})(element.image_url ? element.image_url.split("images/") : "https://cdn.hackaday.io/images/1085561390426767411.png".split("images/")) %>)" >
            <div class="projectWordsSmall projectTitleSmall">
              <%= element.name %>
            </div>
            <br/> <br/> <br/> 
            <div class="snippetSmall projectWordsSmall"> 
              <%- element.summary %> 
            </div>  
            <br/> <br/>  
          </div>
        </a>
      <% } %>
    <% }) %>  
  </div>

  </center>
  </body>
</html>